.mui-tabs__bar {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	background-color: transparent;
	white-space: nowrap;
	overflow-x: scroll;
	/*margin-top: 3px !important;*/
}

.mui-tabs__bar > li {
	display: inline-block;
}

.mui-tabs__bar > li > a {
	display: block;
	padding: 10px 28px 9px;
	white-space: nowrap;
	font-weight: 700;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mui-tabs__bar > li.mui--is-active {
	background: #fff;
	border-bottom: 3px solid #4399de;
    /*color: #fff;*/
    color: #333;
    /*border-radius: 11px;*/
    line-height: 1.5rem;
}

.mui-tabs__bar.mui-tabs__bar--justified {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.mui-tabs__bar.mui-tabs__bar--justified > li {
	display: table-cell;
}

.mui-tabs__bar.mui-tabs__bar--justified > li > a {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.meja-option-active{
	background: #f1f1f1;
	border-color: #e1e1e1 !important;
}

.hide-scroll::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* Chrome/Safari/Webkit */
}

.hide-scroll {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}

.list-group-item:first-child {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.pointer{
	cursor:pointer;
}
/* FONT SIZE */
.font-small{
	font-size: small;
}



/* POSITION */
.position-abs{
	position: absolute;
}
.h-100{
	height: 100% !important;
}
.w-100{
	width:100% !important;
}
.t-0{
	top:0 !important;
}
.b-0{
	bottom: 0 !important;
}
.l-0{
	left:0 !important;
}
.r-0{
	right:0 !important;
}
.vh100{
	height: 100vH;
}


/*BACKGROUND*/
.bg-transparent{
	background: transparent !important;
}

.opsi-list-pesanan-tersimpan:hover { 
  background-color: #e4e4e4;
  color: #333 !important;
}

.opsi-list-riwayat:hover { 
  background-color: #e4e4e4;
  color: #333 !important;
}
.opsi-pelanggan:active {
  background-color: #e4e4e4 !important;
  color: #333 !important;
}

.opsi-meja:active {
  background-color: #ffcfaf !important;
  color: #333 !important;
}

.opsi-diskon:active {
  background-color: #e4e4e4 !important;
  color: #333 !important;
}

.opsi-biaya-tambahan:active {
  background-color: #e4e4e4 !important;
  color: #333 !important;
}

.opsi-list-pesanan-tersimpan:active {
  background-color: #e4e4e4 !important;
  color: #333 !important;
}

.opsi-list-riwayat:active {
  background-color: #e4e4e4 !important;
  color: #333 !important;
}

.card-box{
	-webkit-box-shadow: 0px 1px 3px 0px #ddd;
	-moz-box-shadow: 0px 1px 3px 0px #ddd;
	box-shadow: 0px 1px 3px 0px #ddd;
	border-radius: 1rem !important;
}

.text-999{
	color:#9E9E9E;
}

.modal-content{
	border-radius: 7px;
}